body{
    background: #ffffff;  /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}
.mybgd{
    background: rgb(255,255,255);
    
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}